*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins';
}
    button{
        background: none;
        border: none;
        padding: 10px;
        cursor: pointer;
        border-radius: 20px;
    }
    a{
        color: black;
        text-decoration: none;
        cursor: pointer;
        border-radius: 20px;
    }
        .btn-white{
            background-color: #fff;
            color: black;
            border-radius: 30px;
            padding: 10px 45px;
            width: 180px;
            text-align: center;
            font-size: 16px;
            font-weight: 500;
        }
            .btn-preto{
                background: black;
                color: #fff;
                border: 1px solid #fff;
                border-radius: 30px;
                padding: 10px 45px;
                width: 180px;
                text-align: center;
                font-size: 16px;
                font-weight: 500;
            }
            .btn-black-hover:hover{
                background: #fff;
                color: black;
            }
            .btn-white-hover:hover{
                background: black;
                color: #fff;
                border: 1px inset #fff;
            }
    input{
        border: none;
        border-radius: 20px;
        padding: 10px 20px;
    }
    body{
        overflow-x: hidden;
        position: relative;
    }
body{
    background: linear-gradient(45deg, #d0d8d7,#abc1c0,#d0d8d7) ;
}

header{
    height: 100vh;
    background: 80% 40% url(../imagens/01_viabilidade/secao1-background.svg) no-repeat;
    background-size: 90vw;
}
nav{
    width: 100%; 
    height: 122px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 9vw;
    height: 100%;
}
    #logo{
        font-size: 2em;
        font-weight: bolder;
    }
    .nav-list {
        display: flex;
        list-style: none;
    }
        .itemMenu{
            margin: 0 3vw;
            border-radius: 0;
            font-size: 18px;
            font-weight: 400;
            color: #5c5a5a;
        }
            .itemMenu:hover{
                color: black;
                font-weight: 600;
                border-bottom: 3px solid black;
            }
            .itemMenu-mobile{
                display: none;
            }
    .acessarPlataforma{
        background-color: black;
        color: #fff;
        border-radius: 30px;
        padding: 15px 60px;
        width: 300px;
        font-size: 18px;
        text-align: center;
    }
    .acessarPlataforma:hover{
        background: #fff;
        color: black;
    }


#div1{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

}
    #divTexto{
        margin-left: 9vw;
        font-size: 24px;
    }
    
    .btnCidade{
        margin-left: 9vw;
        margin-top: 8vh;
        margin-bottom: 10vh;
        border-radius: 30px;
        font-size: 22px;
        font-size: 500;
        text-align: center;
        background: #77ACA8;
        padding-top: 16px;
        padding-bottom: 16px;
        width: 450px;
    }

    #powered{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto 10vw;
        height: 3vh;
    }
        #powered > img{height: 12px;}  
        #powered > img:first-child{height: 20px}

/*   PAP = PROPOSITO - ALGORITIMO - PRODUTO   */

    #PAP{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 10vh 10vw 15vh 10vw;
        text-align: center;
        }
            .imgPAP{
                height: 200px;
                width: 90%;
            }
            .tituloPAP{
                font-size: 25px;
                padding: 20px;
                font-weight: 500;
            }
            .PAP-p{
                margin-bottom: 40px;
            }
            #btnPAP{
                background: black;
                color: white;
                border-radius: 20px;
                padding: 10px 50px;
            }
            #btnPAP:hover{
                background: #fff;
                color: black;
            }
        .setas{
            display: flex;
            align-items: center;
        }

        #mobile-PAP{
            display: none;
        }

/*      DADOS        */

#dados{
    display: flex;
    justify-content: space-around;
    padding: 9vh;
    background: black;
}
    .dadosItens > h1{
        font-size: 40px;
        color: #abc1c0;
    }
    .dadosItens > p {
        color: #fff;
    }

/*      ALGORITMO           */

#algoritmo{
    margin: 10vh 10vw 0 10vw;

}
    #algoritmo-titulo{
        margin-bottom:40px;
        font-weight: normal;
    }

    #algoritmo-lei-via{
    display: flex;  
    justify-content: space-between;
    align-items: stretch;
    height: 520px;
    } 
        .legislacao-via{
            display: flex;
            flex-direction: column;
            width: 30vw;
        } 
            .legislacao-via > h1 { /* titulos legislação e viabilidade*/
                font-size: 20px;
                margin-bottom: 30px;
            }
            .lei-via{     /* div sem o titulo*/
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 92%;
                width: 32vw;
            }
            .lei-linhas-left{
                display: flex;
                justify-content: space-between;
            }
                 #lei-down-left{ padding-right: 20px;}
                 #lei-down-left > .lei-via-itens > .lei-via-img{ padding: 10px 0; }
                 .lei-via-img:nth-child(4){padding: 20px 0;}
                 

            .via-linhas-right{
                display: flex;
                justify-content: space-between;
                max-width: 500px;
            }
                .lei-via-itens{
                    display: flex;
                    flex-direction: column;
                    
                }
                    .lei-via-img{
                        width: 80px;
                        height: 80px;
                        margin-bottom: 10px;
                    }
                    .lei-via-p{
                        font-size: 14px;
                    }
                    .via-itens-r {min-width: 150px;} /* r = right*/
            .lei-via-btn{
                padding: 5px 45px;
                margin: 10px 0;
                border: 1px solid #fff;
            }
            .lei-via-btn:hover{
                background: #fff;
            }

    #mais{
        display: flex;
    } 
        #mais > img{
            width: 100px;
        }

    #mobile-algoritmo{
        display: none;
    }

/*      FUNCIONALIDADES     */

            
        /* PAINEL FUNCIONALIDADE TEM ARQUIVO CSS PROPRIO */

        #mobile-img-soon{
            display: none;
        }

/*      Utilidades       */

#utilidade{
    margin-top: 10vh;
}

    #util-titulo{
        text-align: center;
        font-weight: normal;
        font-size: 30px;
    }
    #utilDiv{
        display: flex;
        justify-content: space-between;
        margin: 80px 0;
    }
        .uteis{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 4vh 2vw;
            width: 18vw; 
            border: 2px solid #e8e8e8;
            border-radius: 30px;
            
        }
        .uteis > div{
            max-width: 260px;
            display: flex;
            flex-direction: column;
            
        }
        .uteis-img{
            height: 80px;
            width:  80px;
            margin-bottom: 20px;
            
        }
        .uteis-p{
            max-width: 260px;
            font-size: 18px;
            font-weight: 400;
        }
        .uteis-p > strong{
            text-decoration: underline;
        }
        #util1{
            width: 28vw ;
            border-radius: 0 30px 30px 0;
            align-items: flex-end;
            padding-right: 2vw;
        }
            #util1 > div{
                text-align: start;
                width: 240px;
            }
            #util1 > .util-btn{
                margin-right: 2vw;
            }

        #util4{
            width: 28vw;
            border-radius: 30px 0 0 30px;
            align-items: flex-start;
            padding-left: 2vw;
        }
            #util4 > div{
                align-items: flex-start;
                width: 240px;
            }

        .util-btn{
            visibility: hidden;
            background: black;
            color: #fff;
            padding: 10px 50px;
            margin-top: 20px;
            font-weight: 500;
            transition: 0.05s;
        }
            .uteis:hover > .util-btn{
                visibility: visible; 
            }
            .util-btn:hover {
                background: #fff;
                color: black;
            }

        
            /*      ESCOLHA         */
            

    #escolha-titulo{
        text-align: center;
        font-weight: normal;
        font-size: 30px;
    }
    #escolha-notebook{
        background: center 60% url('../imagens/07_escolha/mac.svg') no-repeat;
        background-size: 100vh;
        
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        #escolha-video{
            border-radius: 10px;
            width: 77vh;
            height: 50vh;
        }
    
    #modelo-vigente{
        margin: 5vh 10vw 15vh 10vw;
        display: flex;
        justify-content: space-evenly;
        
    }
        #div-place-escolha{
            display: flex;
            flex-direction: column;
            align-items: center;

        }
        .btn-modelo-vigente{
            margin-top: 30px;
            background: black;
            color: #fff;
            padding: 10px 50px;
        }


/*      MAPA        */

#section-mapa{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;

    height: 120vh;
    padding: 0 9vw ;
    color: white;
    background: 100% 50%  url('../imagens/08_mapa/mapa-gif-desktop.gif') no-repeat;
    background-size: cover;
    position: relative;
}
    #mapa-onde-estamos{
        position: absolute;
        left: 10vw;
        bottom: 30vh;
        font-size: 58px;
    }
    #sugerir-cidade{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 200px;
        
    }
        #mapa-bola-verde{
                border: 15px solid #77ACA8;
                border-radius: 50%;
                width: 15px;
                margin-left:10px; 
                box-shadow: 0 0 15px #abc1c0;
        }
        .sugerir-cidade-p {
            font-size: 22px;
            padding-left: 10px;  
        }
        .btn-mapa-generico{
            padding: 8px 45px;
            
        }
            #btn-mapa-sugerir{
                color: #77ACA8;
                border: 1px solid #77ACA8;
                font-size: 18px;
                padding: 10px 45px;
                width: 250px;
                text-align: center;
            }
    #cidades-disponiveis{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        height: 348px; 
    }
        #mapa-bola-branca{
            border: 15px solid #fff;
            border-radius: 50%;
            width: 15px;
            margin: 15px 0px 15px 10px; 
            box-shadow: 0 0 12px #fff;
        }
        #cidades-disponiveis > h5{
            width: 224px;
            font-size: 32px;
            font-weight: 500;
            line-height: 38px;
        }
        .cidades-disponiveis-p{
            font-size: 16px;
            color: #ADADAD;
            margin: 10px; 
        }
            #btn-mapa-disponiveis{
                background: #fff;
                border: 1px solid #fff;
                padding: 10px 45px;
                font-size: 18px;
                width: 250px;
            }


/*      APROVAÇÃO       */
#section-aprovacao{
    margin: 10vh 9vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    #aprovacao-titulo{
        text-align: center;
        font-weight: 600;
        font-size: 35px;
    }
    .linhas-aprovou{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 10vh 0 ;
        min-width: 800px;
    }
    .aprovou-each-img{
        max-height: 80px;
    }
   
        
/*      PLANOS          */


#plano{
    padding: 5vh 0 10vh 0;

}
    #section-titulo-plano{
        text-align: center;
        font-size: 35px;
        margin: 50px;

    }
    #div-all-planos{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;

        -ms-overflow-style: none; 
        scrollbar-width: none;
    }
            #div-all-planos::-webkit-scrollbar{
                display: none;             /* esconder barra de scroll no Chrome e Safari*/
            }
            
    .class-plano-generico{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        width: 22vw;
        min-width: 400px;
        height: 85vh;
        margin: 8px 25px;
        padding: 30px 40px;
        text-align: center;
        scroll-snap-align: center ;
        border-radius: 15px;
        box-shadow: 0 0 2px #646464;
    }
        .class-plano-generico > p{
            font-size: 16px;      
        }
        .beneficios-dos-planos{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            height: 35vh;
            min-width: 258px;
            font-size: 14px;
        }
        .beneficio-inativo-plano{
            color: #ADADAD;
        }
            .beneficio-ativo-plano > img{
                margin: 0 10px;
            }
            .beneficio-inativo-plano > img{
                visibility: hidden;
                margin: 0 10px;
            }
        .beneficios-dos-planos > div > p{
            display: inline-block;
        }
        .linha-planos{
            margin: 15px auto;
            border-top: 1px solid black;
            width: 120px;
        }
        .preco-plano{font-size: 32px;}
            #plano-premium > .linha-planos{ border-color: white;}

            #plano-free{
                border: 1px solid white;
                background: #ececec;
            }
            #plano-premium{
                background: #5c5a5a;
                color: #fff;
            }
    .btn-plano{
        background: #77ACA8;
        border: 1px solid #77ACA8;
        border-radius: 30px;
        padding: 15px 50px;
        width: 90%;
        font-size: 16px;
        cursor: pointer;
    }
    .btn-plano-free{
        background: black;
        color: #fff;
        border: 1px solid black;
    }
        .btn-plano:hover{
            background: #fff;
            color: black;
            border: 1px solid #222;
        }



/*      MIDIA       */

    #noticias-titulo{
        text-align: center;
        font-size: 32px;
        margin: 40px auto;
    }
    #div-noticias{
        display: flex;
        justify-content: space-evenly;
        margin: 10vh 0 ;
    }
        .each-noticia {
            width: 30vw;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .each-noticia > img{
            display: block;
            margin: 30px auto;
        }
        .each-noticia > p{
            font-size: 14px;
            font-weight: 400;
            text-align: center;
        }
        #midia-gauchazh{
            width: 20vw;
            align-items: center;
        }
     


/*      TIME        */


#time{
    margin: 10vh 0;
}
#time-titulo{
    text-align: center;
    font-size: 40px;
    margin: 40px auto;
    
}
.time-linha{
    display: flex;
    justify-content: space-between;
    margin: 0 9vw;
}
.membro-time{
    margin-bottom: 40px ;
    width: 18%;
    text-align: center;
}
.membro-time > h1{
    font-size: 15px;
    font-weight: 500;
}
.membro-time > p {
    font-size: 12px;
    color: #646464;
}
    .membro-img{
        display: block;
        margin: 10px auto;
        width: 120px;
        border-radius: 50%;
    }
    .img-cargo-superior{
        width: 122px;
        border: 4px solid #fff;
    }
        .membro-time > .email-time{
            color: #ADADAD;
            font-size: 12px;
        }
        .membro-time > .email-time:hover{
            color: #fff;
            font-size: 13px;
        }

/*      FOOTER - OSPA    */

#footer-ospa{
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 5vh 10vw;

}
#logo-grupo-ospa{
    display: flex;
    align-items: center;
    justify-items: center;
}
#footer-ospa-all-institutos{
    display: flex;
    justify-content: space-between;
    width: 60vw;
}
    .footer-ospa-each-institutos{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
        height: 200px;
    }
        .logos-institutos-footer{
            height: 60px; 
            margin-bottom: 5px; 
        }
        .footer-ospa-each-institutos > div {
            margin-left: 5px ;
        }
        .footer-ospa-each-institutos > div > p{
            font-size: 14px;
            height: 56px;
            display: flex;
            align-items: center;
            color: #ADADAD;
            text-align: start;
        }
        #ospa-design-p{
            width: 120px;
        }
        .linha-place-footer{
            border-top: 3px solid #fff;
            margin-bottom: 15px;
        }
        .linha-place-footer-invisivel{
            border-top: 3px solid black;
            margin-bottom: 15px;
        }
       

/*      FOOTER PLACE        */
    
#footer-place{
    display: flex;
    justify-content: space-between;
    padding: 8vh 10vw;
}
            #place-by-ospa > p{
                margin: 20px 0 30px 0;
                font-size: 16px;
                width: 200px;
            }
            .btn-by-ospa-footer{
                padding: 15px 30px;
                border-radius: 30px;
                font-size: 16px;
            }

#sobre-comunidade-contato-copyright{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30vw;
    min-width: 445px;
}
    #sobre-comunidade-contato{
        display: flex;
        justify-content: space-between; 
    }
    .sobre-comunidade-contato{
        display: flex;
        flex-direction: column;
        font-size: 14px;
        min-width: 100px;
        
    }
        .sobre-comunidade-contato > h4{
            margin-bottom: 10px;
        }
        .sobre-comunidade-contato > a , .sobre-comunidade-contato > div > a{
            color: #646464;
        }
        .sobre-comunidade-contato > a:hover , .sobre-comunidade-contato > div > a:hover{
        color: #222;
           text-decoration: underline;
        }
            .footer-soon{
                display: flex;
                align-items: center;
            }
    #copyright-cnpj {
        display: flex;
        justify-content: space-between;
    }

    
#newsletter{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
    #newsletter > p{
        color: #646464;
        font-size: 14px;
        padding: 10px 0;
        min-width: 280px;
    }
    #newsletter-email{
        display: flex;
    }
    #newsletter-email > input{
        background-color: #77ACA8;
        font-size: 14px;
        width: 75%;
    }
    #newsletter-email > input::placeholder{
        color: black;
        font-size: 14px;
    }
    #newsletter-email > button{
        background: center center url(../imagens/14-footer-place/seta.svg) no-repeat;
        background-size: 35%;
        min-width: 60px;
        background-color: black;
        box-shadow: none;
    }
    #btn-retorno-topo{
        position: fixed;
        bottom: 10px;
        right: 2vw;
    }
