

@media screen and (max-width: 650px) {

    #acessarPlataforma{
        position:fixed;
        top: auto;
        bottom: 10px;
        left: 1vw;
        width: 98%;
        border: 1px solid #FFF;
        z-index: 2;
    }

    /* Estudo Viabilidade*/
 
#div1{
    height: 70vh;
}
#divTexto{
    margin-left: 5vw;
    font-size: 14px;
}
        .btnCidade{
            margin-left: 5vw;
            width: 70vw;
        }

    #powered > img{
        width: 25vw;
    }


    /*   PAP = PROPOSITO - ALGORITIMO - PRODUTO   */
    #PAP{
        padding: 0;
        margin: 0 7vw;
    }
    .PAP-cards{
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .PAP-cards > div {
        width: 180px;
    }
   #btnPAP{
       display: none;
   }

/*      DADOS        */

#dados{
    flex-direction: column;
    padding: 5vh 0;
    background: #fff;
}
    .dadosItens{
        margin: 3vh auto;
        text-align: center;
    }
    .dadosItens > h1{
        font-size: 30px;
        color: black;
    }
    .dadosItens > p {
        font-size: 14px;
        color: black;
    }
    
    /*      ALGORITMO           */
    
    /*      FUNCIONALIDADES     */

    #funcionalidades{
        height: 1000px;
    }
    #mobile-img-soon{
        width: 0;
    }
#divFunc{
    height: 500px;
}
#menuFunc{
    width: 30vw;
}
.margin-func-left{
    width: 30vw;
}
    #div-menu-func-disp{ 
        width: 30vw; 
    }
    #div-menu-func-soon{ 
        width: 30vw; 
    }
    .itensFunc{ 
        font-size: 12px; 
    }
#painelFunc{
    width: 70vw;
    padding: 4vh 3vw 4vh 6vw;
    height: 600px;
}
    #div-texto-func{ 
        width: 62vw;
        height: 60%;
        padding: 0;
     }
        #func-painel-titulo{ 
            margin-bottom: 20px;
        }
            #func-painel-p{
                font-size: 14px;
                padding: 0;
            }
            #func-social{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 30%;   
            }
            #func-painel-destaques{
                font-size: 16px;
            }
            #func-social-like > div{
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                font-size: 12px;
            }
            .btn-func-social{
                display: none;
            }

        #div-gif-func{
            width: 90%;
            height: 35%;
            margin: 2vw 0;
        }
        





        /*      Utilidades       */

    #util-titulo{
        text-align: center;
        font-size: 22px;
    }
    #utilDiv{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 10vh 3vw 20vh 4vw;
        
    }
        .uteis{
            padding: 0;
            width: 41vw;
            
            border: none;
            pointer-events: none;
        }
        .uteis > div{ width: 41vw;}
        #util1 > div{ width: 41vw;}
        #util3 > div{ width: 41vw;}
        #util4 > div{ width: 41vw;}

            .uteis-p{
                font-size: 14px;
                width: 41vw;
                display: block;
            }
                #util1 , #util4{
                    width: 41vw;
                    padding-right: 0;
                }
                
        .util-btn{
            display: none;
        }

/*      ESCOLHA     */
#escolha-titulo{
    font-size: 20px;
}
#escolha-notebook{
    background: center 55% url('../imagens/07_escolha/mac.svg') no-repeat;
    background-size: 80vw;
    height: 80vw;
}
    #escolha-video{
        width: 61vw;
        height: 40vw;  
    }

        #modelo-vigente{ /* apartir de uma tela de  480 px, corta a imagem*/
            padding: 70vw 50vw;
            margin: 0; 
            background: center center url('../imagens/mobile/mobile-modelo-vigente.svg') no-repeat ;
            background-size: 100vw;
        }
        #div-escolha-vigente{display: none;}
        #div-place-escolha{display: none;}
        .btn-modelo-vigente{
            display: none;
        }

 /*      MAPA        */

#section-mapa{
    background: 80% 35%  url('../imagens/mobile/mapa.svg') no-repeat;
    background-size: cover;
    height: calc(100vw*3vw/2vw);
    padding: 0 4vw ;
    text-align: right;
    position: initial;
}
#sugerir-cidade{
    justify-content: space-between;
    align-items: flex-end;
    height: 140px;
    width: 30vw;
    margin-bottom: 5vh;
}
    .sugerir-cidade-p {
      font-size: 16px;  
    }
    #btn-mapa-sugerir{
        font-size: 14px;
        width: auto;
        background: black;
    }
#cidades-disponiveis{
    height: 140px;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-bottom: 2vh;
}
    #cidades-disponiveis > h5{
        width:initial;
        font-size: 18px;
        line-height: 22px;
    }
    .cidades-disponiveis-p{
        font-size: 14px;
        color: #ADADAD;
        margin: 5px 0;
    }
    .btn-mapa-generico{
        padding: 8px 25px;
    }
    #btn-mapa-disponiveis{
        display: none;
    }




/*      APROVAÇÃO       */


#aprovacao{
    margin: 0;
}
    #aprovacao-titulo{
        text-align: center;
        font-weight: 600;
    }
    #aprovado-por{
        display: flexbox;
        flex-wrap: wrap;
        
        margin: 12vh 10vw 0 10vw;
    }
    #aprovado-por > img{
        margin-bottom: 6vh ;
        width: 30vw;
    }
    
/*  Planos   */

#plano{
padding: 2vh 0  10vh 0;
}
    
#div-all-planos{
    display: flex;
    justify-content: space-between; 
    padding: 0 10vw;
}
.class-plano-generico{
    flex: none;
    width: 60vw;
    margin: 0 3vw;
    padding: 10px; 
}
#div-3-planos-free-premium{
    width: auto;
}
       
/* MIDIA



    está no @media screen 999px */



 

/*      TIME        */


#time{
    margin: 10vh 0 ;
    display: flex;
    flex-direction: column;
}
#time-titulo{
    text-align: center;
    font-size: 32px;
    margin: 40px 0;
    
}
.time-linha{
    display: block;
    
}
.membro-time{
    display: inline-flex;
    flex-direction: column;
    width: 45vw;
}
        .membro-img{ width: 80px; }
        .img-cargo-superior{ width: 84px; }

/* FOOTER   */

footer{
    display: flex;
    flex-direction: column-reverse;
}


/*      FOOTER PLACE        */

#footer-place{
    flex-direction: column;
    justify-content: flex-start;
    padding: 8vh 0 14vh 10vw;
    background: #FFF;
}
    #place-by-ospa{ text-align: left; }

        .btn-by-ospa-footer{ display: none; }

    #sobre-comunidade-contato-copyright{width: auto;}

            #sobre-comunidade-contato{ display: inline-block; }

                .sobre-comunidade-contato{ margin-bottom: 5vh; }
                
                #sobre-comunidade-contato > .scc-menor-mobile{
                        display: inline-flex;
                        width: 35vw ;
                    }

            #copyright-cnpj{ position: relative; }

                #copyright-cnpj > p{ 
                    position: absolute;
                    bottom: -200px;
                    left: 35vw;
                }

            #copyright-cnpj > p:first-child{ left: 1vw; }

    #newsletter{ font-size: 15px; }

    
        
    
    
    
    /*      FOOTER - GRUPO OSPA    */
    
    
    #footer-ospa{
        padding: 10vh 5vw 15vh 5vw;
        flex-direction: column;
    }
    #btn-retorno-topo{
        position: static;
    }
    #logo-grupo-ospa{
        margin-bottom: 10vh;
        display: flex;  
        justify-content: space-between;
    }
    #footer-ospa-all-institutos{
        width: 90vw;
        flex-direction: column;
    }
        .footer-ospa-each-institutos{
            justify-content: space-between;
            flex-direction: row;
            align-items:flex-end;
            height: 100px;
            width: 90vw;
            
        }
            .logos-institutos-footer{
                height: 20px;
            }
            .logos-institutos-footer > img{
                max-width: 140px;
                margin-bottom: 10px;
            }
            .footer-ospa-each-institutos { margin-top: 25px; }
            .footer-ospa-each-institutos > div { margin-left: 0; }
            
            .footer-ospa-each-institutos > div > p{
                margin: 10px 0;
            }
            .footer-ospa-each-institutos > a{
                padding: 5px 35px;
                margin-bottom: 20px;
                width: 130px;
                font-size: 12px;
                font-weight: 600;
            }
                #ospa-design-p{
                    width: 100px;
                }
            #footer-instituto-place > a{
                visibility: hidden;
                padding: 5px 36px;
            }
            .linha-place-footer{
                border-top: none;
                margin-bottom: 0px;
            }
            .linha-place-footer-invisivel{
                border-top: none;
                margin-bottom: 0px;
            }





}