
#funcionalidades{
    padding-top: 40px;
    margin-top: 150px;
    border-top: 1px solid #fff;
    background: #b3c7c7; 
}
    #func-Titulo{
        text-align: center;
        height: 10vh;
        margin: 60px 0;
        font-size: 38px;
    }
    #menuFunc{
        display: flex;
        align-items: center;
        padding: 0 10vw;
        height: 110px;
        
    }
        #div-menu-func-disp{ width: 60vw; display: flex;
            align-items: center;}
        #div-menu-func-soon{ width: 20vw; display: flex;
            align-items: center;}
        .itensFunc{
            width: 9.8vw;
            font-size: 18px;
            text-align: center;
            margin: 0;
            padding: 48px 0;   
            border-radius: 30px 30px 0 0;          
        }
        .itensFunc-soon{
            background: center top url(../imagens/14-footer-place/soon.svg) no-repeat; 
            background-color: #b3c7c7; 
            color: #646464;
            cursor: default;
         }
            .itensFunc:nth-child(5){    /* Resolver o alinhamento itens com 2 linhas */
                padding: 34px 0;
            }
            .itensFunc-soon:first-child{    /* Resolver o alinhamento itens com 2 linhas */
                padding: 34px 0;
            }
            #div-menu-func-disp > .activeFunc{
                    background: #D7E2E1;
                }
                .itensFunc-soon{color: #646464;}
#painelFunc{
    background: #D7E2E1;
    height: 750px;
    padding: 0 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    #div-texto-func{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 32vw;
        height: 80%;
    }
        #func-tit-p{
            height: 60%;
            display: flex;
            flex-direction: column;
        }
            #func-painel-titulo{ margin-bottom: 30px;}
            #func-painel-p{
                font-size: 22px;
                padding-right: 5vw;
            }
        #func-social{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 35%; 
            font-size: 14px;
            
        }
            #func-social-like{
                display: flex;
                justify-content: space-between;
                align-items: baseline;
            }
                #func-social-like > div{
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    width: 320px;
                }
                .func-img-like{
                 margin: 0 10px;   
                 cursor: pointer;
                }

    #div-gif-func{
        width: 45vw;
        height: 80%;
        background: url(../imagens/05_funcionalidade/Gifs/filtros.gif) no-repeat;
        background-size: cover;
    }

    .btn-func-social{
        padding: 15px 35px;
        border-radius: 30px;
        background: #77ACAB;
        font-size: 20px;
        font-weight: 500;
        width: 285px;
        text-align: center;
    }

    @media screen and (min-width:1200px){
        #menuFunc{
            padding: 0;
            height: 70px;
            background: #D7E2E1;
        }
        .itensFunc{
            width: 10vw;
            padding: 48px 0;   
            border-radius: 30px 30px 0 0;  
            background: #b3c7c7;        
        }
        .margin-func{
            width: 10vw;
            height: 122px;
            background: #b3c7c7; 
        }
        #div-menu-func-disp{ width: 70vw; display: flex;
            align-items: center;}
        #div-menu-func-soon{ width: 30vw; display: flex;
            align-items: center;}

            


             .radius-item-left{
                border-radius: 0 0 30px 0;
             }
             .radius-item-right{
                border-radius: 0 0 0 30px;
             }
    }