   


@media screen and (max-width: 1050px) {
    header{
        background: 65% 0% url(./imagens/mobile/secao1-background.svg) no-repeat;     
        background-size: 130vh;
    }
    #menu{
        padding: 20px 5vw;
    }
    #acessarPlataforma{
        text-align: center;
    }
    .itemMenu{
        display: block;
        padding: 0;
        margin: 5px;

        font-size: 20px;
        color: black;

    }
    .itemMenu-mobile{
        display: block;
        margin-top: 25px;
    }


    /*   PAP = PROPOSITO - ALGORITIMO - PRODUTO   */

    #PAP{
        flex-direction: column;
        padding: 50px 0vw;
        }
        .PAP-cards{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-evenly;
            margin: 30px 0 ;
        }
        .PAP-card-inverso{
            flex-direction: row;
        }
            .imgPAP{
                height: 60%;
                width: 40vw;
            }
            .PAP-cards > div{
                width: 40vw;
            }
                .tituloPAP{
                    font-size: 25px;
                    padding: 20px;
                    font-weight: 500;
                }
        .setas{
            display: none;
        }
    
/*      DADOS        */

#dados{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5vh 0 0 5vw;
    background: black;
}
    .dadosItens {
        width: 42vw;
        margin: 30px 0;
    }

      /*      ALGORITMO           */

#algoritmo{
    margin: 10vh 0 0 0;

}
    #algoritmo-titulo{
        width: 300px;
        font-size: 22px;
        margin-left: 10vw;
    }
        #algoritmo-lei-via{
        display: none; 
        } 
    #mobile-algoritmo{
        display: flex;
        padding: 50px 0;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }
        #mobile-algoritmo > img{
            width: 100vw;
        }


    /*      FUNCIONALIDADES     */
#funcionalidades{
    padding-top: 50px;
}
#func-Titulo{
    font-size: 22px;
    
}
    #divFunc{
        height: 700px;
        display: flex;
        justify-content: flex-start;

    }
    #mobile-img-soon{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50px;
        padding-bottom: 0 ;
    }
        #img-func-disponivel{
            height: 65%;
        }
        #img-func-soon{
            height: 30%;
        }

    #menuFunc{
        flex-direction: column;
        justify-content: space-between;
        padding-top: 15px;
        height: auto;
        width: 20vw;
        
    }
    #div-menu-func-disp{ 
        width: 20vw; 
        flex-direction: column;
        justify-content: space-around;
        height: 60%;
    }
    #div-menu-func-soon{ 
        width: 20vw; 
        flex-direction: column; 
        justify-content: space-evenly;
        height: 25%;
    }
        .itensFunc{
            width: 100%;
            padding: 20px 40px;   
            border-radius: 0;
            font-size: 16px;  

        }
            .itensFunc:nth-child(4){    /* Resolver o alinhamento itens com 2 linhas */
                padding: 8px 0;
            }
            .itensFunc:nth-child(7){    /* Resolver o alinhamento itens com 2 linhas */
                padding: 10px 0;
            }
           
    #painelFunc{
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 2vw 4vw;
        border-radius: 20px 0 0 20px;
    }
            #div-texto-func{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 95%;
                height: 40%;
                padding-right: 2vw;
            }
                #func-painel-p{
                    font-size: 2vw;
                }
                #func-social{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 20%;   
                }
        
            #div-gif-func{
                width: 100%;
                height: 45%;
                margin: 2vw 0;
            }
    
    

/*   UTILIDADE   */
#util-titulo{
    text-align: center;
    font-size: 22px;
}
#utilDiv{
    display: flexbox;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10vh 0;
    
}
    .uteis{
        display: inline-table;
        width: 42vw;
        border: none;
        pointer-events: none;
    }
        .uteis-p{
            font-size: 16px;
        }
            #util1 , #util4{
                width: 42vw;
            }
            #util1  , #util3 {
                display: flex;
                align-items: flex-end;
            }
                #util3>div {
                    width: 200px;
                }
            
    .util-btn{
        display: none;
    }



/*  ESCOLHA    */

/* MAPA */

/*      APROVAÇÃO       */

    #all-aprovacoes{
        display: flexbox;
        flex-wrap: wrap;  
        margin: 12vh 10vw 0 10vw;
    }
    #all-aprovacoes > img{
        width: 37vw;
        margin-bottom: 80px;
    }
    .each-empresa-aprovadora{
        width: 37vw;
        display: flex;
        justify-content: center;
        margin-bottom: 90px;

    }

     /*      NOTICIAS       */
 #noticias{ margin: 0; }

 #div-noticias{
     flex-direction: column;
 }
     .each-noticia {
         width: 60vw;
         margin: 20px auto;
     }
     #midia-gauchazh{ width: 40vw; }

     /*      TIME        */


#time{
    margin: 10vh 7vw;
}
#time-titulo{
    text-align: center;
    font-size: 32px;
    margin: 40px 0;
    
}
.time-linha{
    display: inline-table;
    margin: 0;
    
}
.membro-time{
    display: inline-flex;
    flex-direction: column;
    width: 30%;
}
        .membro-img{ width: 90px; }
        .img-cargo-superior{ width: 94px; }


}     

@media screen and (max-width: 1200px) and (min-width:650px) {

  
/*      FOOTER - GRUPO OSPA    */
#footer-ospa-all-institutos{
    flex-wrap: wrap;
    width: 50vw;
}
    .footer-ospa-each-institutos{
        width: 45%;
        margin: 20px 0;
    }
        .footer-ospa-each-institutos > a{
            max-width: 200px ;
            text-align: center;
        }

        /*      FOOTER PLACE        */
    
#footer-place{
    flex-direction: column;
    width: 100vw;
    height: 80vh;
    padding: 10vh 10vw 10vh 10vw;
}
    
   


  

}
