   


@media screen and (max-width: 999px) {
    header{
        background: 65% 0% url(./imagens/mobile/secao1-background.svg) no-repeat;     
        background-size: 130vh;
    }
    #menu{
        padding: 20px 5vw;
    }
    #acessarPlataforma{
        text-align: center;
        width: 250px;
    }
    .itemMenu{
        display: block;
        padding: 0;
        margin: 5px;

        font-size: 20px;
        color: black;

    }
    .itemMenu-mobile{
        display: block;
        margin-top: 25px;
    }


    /*   PAP = PROPOSITO - ALGORITIMO - PRODUTO   */

    #PAP{
        flex-direction: column;
        padding: 50px 0vw;
        }
        .PAP-cards{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-evenly;
            margin: 30px 0 ;
        }
        .PAP-card-inverso{
            flex-direction: row;
        }
            .imgPAP{
                height: 60%;
                width: 40vw;
            }
            .PAP-cards > div{
                width: 40vw;
            }
                .tituloPAP{
                    font-size: 25px;
                    padding: 20px;
                    font-weight: 500;
                }
        .setas{
            display: none;
        }
    
/*      DADOS        */

#dados{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5vh 0 0 5vw;
    background: black;
}
    .dadosItens {
        width: 42vw;
        margin: 30px 0;
    }

/*   UTILIDADE   */
#util-titulo{
    text-align: center;
    font-size: 22px;
}
#utilDiv{
    display: flexbox;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10vh 0;
    
}
    .uteis{
        display: inline-table;
        width: 42vw;
        border: none;
        pointer-events: none;
    }
        .uteis-p{
            font-size: 16px;
        }
            #util1 , #util4{
                width: 42vw;
            }
            #util1  , #util3 {
                display: flex;
                align-items: flex-end;
            }
                #util3>div {
                    width: 200px;
                }
            
    .util-btn{
        display: none;
    }



/*  ESCOLHA    */

/* MAPA */

/*      APROVAÇÃO       */

    #all-aprovacoes{
        display: flexbox;
        flex-wrap: wrap;  
        margin: 12vh 10vw 0 10vw;
    }
    #all-aprovacoes > img{
        width: 37vw;
        margin-bottom: 20px;
    }
    .each-empresa-aprovadora{
        width: 37vw;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

    }

     /*      NOTICIAS       */
 #noticias{ margin: 0; }

 #div-noticias{
     flex-direction: column;
 }
     .each-noticia {
         width: 60vw;
         margin: 20px auto;
     }
     #midia-gauchazh{ width: 40vw; }

     /*      TIME        */


#time{
    margin: 10vh 7vw;
}
#time-titulo{
    text-align: center;
    font-size: 32px;
    margin: 40px 0;
    
}
.time-linha{
    display: inline-table;
    margin: 0;
    
}
.membro-time{
    display: inline-flex;
    flex-direction: column;
    width: 30%;
}
        .membro-img{ width: 90px; }
        .img-cargo-superior{ width: 94px; }


}     

@media screen and (max-width: 1200px) and (min-width:650px) {

  
/*      FOOTER - GRUPO OSPA    */
#footer-ospa-all-institutos{
    flex-wrap: wrap;
    width: 50vw;
}
    .footer-ospa-each-institutos{
        width: 45%;
        margin: 20px 0;
    }
        .footer-ospa-each-institutos > a{
            max-width: 200px ;
            text-align: center;
        }

        /*      FOOTER PLACE        */
    
#footer-place{
    flex-direction: column;
    width: 100vw;
    height: 80vh;
    padding: 10vh 10vw 10vh 10vw;
}
    
   


  

}
