/* Animação */

[data-anime]{
  opacity: 0;
  transition: .6s;
}

[data-anime="left"]{
  transform: translateX(-80px);
}
[data-anime="right"]{
  transform: translateX(80px);
}
[data-anime="up"]{
  transform: translateY(-80px);
}
[data-anime="down"]{
  transform: translateY(80px);
}
[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}