*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins';
}
    button{
        background: none;
        border: none;
        padding: 10px;
        cursor: pointer;
        box-shadow: 0px 0px 8px gray;
        border-radius: 20px;
    }
        button:hover{
            background: #fff;
            color: black;
        }
    a{
        color: black;
        text-decoration: none;
        cursor: pointer;
        border-radius: 20px;
    }
    input{
        border: none;
        border-radius: 20px;
        padding: 10px 20px;
    }
    body,html{
        overflow-x: hidden;
    }
body{
    background: linear-gradient(45deg, #d0d8d7,#abc1c0,#d0d8d7) ;
    
}

header{
    height: 100vh;
}
nav{
    width: 100%; 
}
#menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10vw;
}
    #logo{
        font-size: 2em;
        font-weight: bolder;
    }
    .nav-list {
        display: flex;
        list-style: none;
    }
        .itemMenu{
            padding: 20px;
        }
    #acessarPlataforma{
        background-color: black;
        color: #fff;
        border-radius: 30px;
        padding: 10px 50px;
    }


#div1{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
    #divTexto{
        margin-left: 10vw;
        font-size: 14px;
    }
    
    #divBtnCidade{
        display: flex;
        margin-left: 7vw;
        margin-top: 30px;
        box-shadow: 0px 0px 8px gray;
        border-radius: 30px;
        width: 30vw;

    }
        #input-cidade{
            background: #fff;
            border-radius: 30px 0 0 30px; 
            padding: 12px 50px;
            width: 28vw;
            font-size: 16px;
        }
            #input-cidade::placeholder {
                color: black;
                font-size: 16px;
            }
        #btn-cidade{
            background: 30% center url('./imagens/01_viabilidade/btnCidade.svg') no-repeat;
            background-size: 30px;
            background-color: #fff;
            border: none;
            box-shadow: none;
            border-radius:  0 30px 30px 0;
            padding: 20px 40px;
        }
            #btn-cidade:hover{
                background-size: 32px ;
            }

    #powered{
        display: flex;
        justify-content: space-between;
        margin: auto 10vw;
        vertical-align: center;
    }

/*   PAP = PROPOSITO - ALGORITIMO - PRODUTO   */

    #PAP{
        display: flex;
        justify-content: space-evenly;
        padding: 50px 10vw;
        text-align: center;
        }
            .imgPAP{
                height: 30%;
                width: 90%;
                margin-top: 70px;
            }
            .tituloPAP{
                font-size: 25px;
                padding: 20px;
                font-weight: 500;
            }
       
            .setas{
                display: flex;
                align-items: center;
            }
        .btnPAP{
            background: black;
            color: white;
            border-radius: 20px;
            margin: 20px;
            padding: 10px 50px;
        }

            #mobile-PAP{
                display: none;
            }

/*      DADOS        */

#dados{
    display: flex;
    justify-content: space-around;
    padding: 9vh;
    background: black;
}
    .dadosItens > h1{
        font-size: 40px;
        color: #abc1c0;
    }
    .dadosItens > p {
        color: #fff;
    }

/*      ALGORITMO           */

#algoritmo{
    margin: 10vh 10vw 0 10vw;

}
    #algoritmo-titulo{
        margin-bottom:40px;
        font-weight: normal;
    }

    #algoritmo-lei-via{
    display: flex;  
    justify-content: space-between;
    align-items: stretch;
    height: 65vh;
    } 
        .legislacao-via{
            display: flex;
            flex-direction: column;
            width: 30vw;
        } 
            .legislacao-via > h1 { /* titulos legislação e viabilidade*/
                font-size: 18px;
                margin-bottom: 30px;
            }
            .lei-via{     /* div sem o titulo*/
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 92%;
            }
            .lei-linhas-left{
                display: flex;
                justify-content: space-between;

            }
            .via-linhas-right{
                display: flex;
                justify-content: space-between;
                padding-right: 5vw ;
            }
                .lei-via-itens{
                    display: flex;
                    flex-direction: column;
                    min-width: 130px;

                }
                    .lei-via-img{
                        width: 80px;
                        height: 80px;
                        
                    }
                    .lei-via-p{
                        font-size: 12px;
                        height: 92px;
                    }
            .lei-via-btn{
                padding: 5px 45px;
                margin: 10px 0;
                border: 1px solid #fff;
            }

    #mais{
        display: flex;
    } 
        #mais > img{
            width: 100px;
        }

    #mobile-algoritmo{
        display: none;
    }

/*      FUNCIONALIDADES     */

#funcionalidades{
    padding-top: 60px;

}
    #func-Titulo{
        text-align: center;
        height: 10vh;
    }
    #divFunc{
        height: 90vh;
    }
    #menuFunc{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10vw;
        height: 110px;
        
    }
        .itensFunc{
            width: 12.5%;
            text-align: center;
            padding: 45px 0;   
            border-radius: 30px 30px 0 0;          
        }

            .itensFunc:hover{
                background: #D7E2E1;
            }
        #painelFunc{
            background: #D7E2E1;
            height: 50vh;
            
        }
        #mobile-img-soon{
            display: none;
        }

/*      Utilidades       */

#utilidade{
    margin-top: 10vh;
}

    #util-titulo{
        text-align: center;
        font-weight: normal;
    }
    #utilDiv{
        display: flex;
        justify-content: space-between;
        margin: 80px 0;
    }
        .uteis{
            padding: 4vh 2vw;
            width: 17vw; 
            border: 2px solid #e8e8e8;
            border-radius: 30px;
        }
            .uteis-img{
                height: 80px;
                width:  80px;
                margin-bottom: 20px;

            }
            .uteis-p{
                
            }
                #util1{
                    width: 28vw ;
                    border-radius: 0 30px 30px 0;
                    padding-left: 10vw;
                }
                #util4{
                    width: 28vw;
                    border-radius: 30px 0 0 30px;
                }
        #util-btn{
            display: block;
            margin: 30px auto;
            background: black;
            color: #fff;
            padding: 10px 50px;
        }

/*      ESCOLHA         */

#escolha{

}
    #escolha-titulo{
        text-align: center;
        font-weight: normal;
    }
    #escolha-notebook{
        background: center 58% url('./imagens/07_escolha/mac.svg') no-repeat;
        background-size: 700px;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        #escolha-video{
            width: 534px;
            height: 335px;  
        }
    
    #modelo-vigente{
        margin: 0 25vw;
    }
        #imagem-modelo-vigente{
            padding: 22vh 40vw;
            background: url('./imagens/07_escolha/modelo-vigente.svg') no-repeat ;
            background-size: 50vw;
        }
        #btn-modelo-vigente{
            display: block;
            margin: 50px auto;
            background: black;
            color: #fff;
            padding: 10px 50px;
        }


/*      MAPA        */

#mapa{
    background: center center  url('./imagens/08_mapa/mapa.png') no-repeat;
    background-size: 100%;
    height: 80vh;

}


/*      APROVAÇÃO       */
#aprovacao{
    margin: 10vh 0;
}
    #aprovacao-titulo{
        text-align: center;
        font-weight: 600;
    }
    #aprovado-por{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 8vh 15vw;
    }
    #aprovado-por > img{
        height: 40px;
    }
        
/*      PLANOS          */
#plano{
    padding: 10vh 4vw;

}
    #plano-titulo{
        text-align: center;
        font-size: 32px;
        margin: 50px;
    }
#all-planos{
    display: flex;
}
#planos-f-p{
    display: flex;
    justify-content: space-between;
    
}
    .planos-free-plus{
        border: 1px solid white;
        border-radius: 15px;
        width: 20vw;
        margin: 0 20px;
        padding: 15px;
        text-align: center;
    }
        .planos-free-plus > p{
            font-size: 12px;        
        }
        .linha-planos{
            margin: 15px auto;
            border-top: 1px solid black;
            width: 70px;
        }
#plano-premium-plus{

}


/*      NOTICIAS       */
#noticias{
    margin: 0 10vw;
}
    #noticias-titulo{
        text-align: center;
        font-size: 32px;
        margin: 40px auto;
    }
    #div-noticias{
        display: flex;
        justify-content: space-between;
    }
        .each-noticia > img{
            display: block;
            margin: 30px auto;
        }
        .each-noticia > p{
            font-size: 12px;
            font-weight: 400;
            text-align: center;
        }


/*      TIME        */


#time{
    margin: 20vh 10vw;
}
#time-titulo{
    text-align: center;
    font-size: 32px;
    margin: 40px auto;
    
}
.time-linha{
    display: flex;
    justify-content: space-between;
}
.membro-time{
    margin-bottom: 40px ;
    width: 18%;
}
.membro-time > h1{
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}
.membro-time > p {
    font-size: 10px;
    text-align: center;
}
    .membro-img{
        display: block;
        margin: 10px auto;
        width: 80px;
        border-radius: 50%;
    }
    .img-cargo-superior{
        width: 84px;
        border: 4px solid white;
    }

/*      FOOTER - OSPA    */

#footer-ospa{
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 5vh 10vw;

}
#footer-grupo-ospa{
    display: flex;
    align-items: center;
    justify-items: center;
}
#footer-ospa-all-institutos{
    display: flex;
    justify-content: space-between;
    width: 60vw;
}
    .footer-ospa-each-institutos{

    }
        .footer-ospa-each-institutos > div{
            height: 30px;
        }
        .footer-ospa-each-institutos > p{
            font-size: 12px;
            color: #ADADAD;
            margin: 10px 0 25px 0;
            height: 55px;
        }
        .footer-ospa-each-institutos > a{
            color: #fff;
            border: 1px solid #fff;
            border-radius: 20px;
            padding: 5px 45px;
            font-size: 14px;
            font-weight: 600;
        }
    #footer-instituto-place{

    }
    #footer-instituto-place > a{
        background-color: #fff;
        color: black;
    }


/*      FOOTER PLACE        */
    
#footer-place{
    display: flex;
    justify-content: space-between;
    padding: 8vh 10vw;
}
        #place-by-ospa{

        }
            #place-by-ospa > p{
                margin: 20px 0 30px 0;
                font-size: 12px;
            }
            #place-by-ospa > a{
                color: #fff;
                font-size: 14px;
                font-weight: 500;
                background-color: black;
                padding: 10px 30px;

            }

#sobre-comunidade-contato-copyright{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30vw;
}
    #sobre-comunidade-contato{
        display: flex;
        justify-content: space-between; 
    }
    .sobre-comunidade-contato{
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }
        .sobre-comunidade-contato > a , .sobre-comunidade-contato > div > a{
            color: #646464;
        }
            .footer-soon{
                display: flex;
                align-items: center;
            }
    #copyright-cnpj{
        font-size: 12px;
    }
#newsletter{

}
    #newsletter > p{
        color: #646464;
        font-size: 12px;
        padding: 10px 0;
    }
    #newsletter-email{
        display: flex;
    }
    #newsletter-email > input{
        background-color: #77ACA8;
        font-size: 12px;
      /*  border-radius: 20px 0 0 20px; */
    }
    #newsletter-email > input::placeholder{
        color: black;
        font-size: 12px;
    }
    #newsletter-email > button{
        background: center center url(./imagens/13_footerPlace/seta.svg) no-repeat;
        background-size: 35%;
        width: 60px;
       /* border-radius: 0 20px 20px 0; */
        background-color: black;
        box-shadow: none;
    }
