*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins';
}
    button{
        background: none;
        border: none;
        padding: 10px;
        cursor: pointer;
        box-shadow: 0px 0px 8px gray;
        border-radius: 20px;
    }
        button:hover{
            background: #fff;
            color: black;
        }
    a{
        color: black;
        text-decoration: none;
        cursor: pointer;
        border-radius: 20px;
    }
    input{
        border: none;
        border-radius: 20px;
        padding: 10px 20px;
    }
    body,html{
        overflow-x: hidden;
        position: relative;
    }
body{
    background: linear-gradient(45deg, #d0d8d7,#abc1c0,#d0d8d7) ;
}

header{
    height: 100vh;
    background: 80% 40% url(./imagens/01_viabilidade/secao1-background.svg) no-repeat;
    background-size: 90vw;
}
nav{
    width: 100%; 
}
#menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vh 10vw;
}
    #logo{
        font-size: 2em;
        font-weight: bolder;
    }
    .nav-list {
        display: flex;
        list-style: none;
    }
        .itemMenu{
            padding: 10px;
            margin: 10px;
            border-radius: 0;
            font-size: 16px;
            font-weight: 400;
            border-bottom: 3px solid transparent;
            transition: ease-in-out;
            color: #5c5a5a;
        }
            .itemMenu:hover{
                color: black;
                font-weight: 600;
                border-color:black;
            }
            .itemMenu-mobile{
                display: none;
            }
    #acessarPlataforma{
        background-color: black;
        color: #fff;
        border-radius: 30px;
        padding: 10px 50px;
    }
    #acessarPlataforma:hover{
        background: #fff;
        color: black;
    }


#div1{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}
    #divTexto{
        margin-left: 12vw;
        font-size: 16px;
    }
    
    #divBtnCidade{
        display: flex;
        margin-left: 7vw;
        margin-top: 8vh;
        margin-bottom: 10vh;
        box-shadow: 0px 0px 8px gray;
        border-radius: 30px;
        width: 35vw;

    }
        #input-cidade{
            background: #fff;
            border-radius: 30px 0 0 30px; 
            padding: 12px 50px;
            width: 32vw;
            font-size: 16px;
        }
            #input-cidade::placeholder {
                color: black;
                font-size: 16px;
            }
        #btn-cidade{
            background: 30% center url('./imagens/01_viabilidade/btnCidade.svg') no-repeat;
            background-size: 30px;
            background-color: #fff;
            border: none;
            box-shadow: none;
            border-radius:  0 30px 30px 0;
            padding: 20px 40px;
        }
            #btn-cidade:hover{
                background-size: 32px ;
            }

    #powered{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto 10vw;
    }
        #powered > img{ max-height: 20px;}

/*   PAP = PROPOSITO - ALGORITIMO - PRODUTO   */

    #PAP{
        display: flex;
        justify-content: space-evenly;
        padding: 50px 10vw;
        text-align: center;
        }
            .imgPAP{
                height: 30%;
                width: 90%;
                margin-top: 70px;
            }
            .tituloPAP{
                font-size: 25px;
                padding: 20px;
                font-weight: 500;
            }
       
            .setas{
                display: flex;
                align-items: center;
            }
        .btnPAP{
            background: black;
            color: white;
            border-radius: 20px;
            margin: 20px;
            padding: 10px 50px;
        }

            #mobile-PAP{
                display: none;
            }

/*      DADOS        */

#dados{
    display: flex;
    justify-content: space-around;
    padding: 9vh;
    background: black;
}
    .dadosItens > h1{
        font-size: 40px;
        color: #abc1c0;
    }
    .dadosItens > p {
        color: #fff;
    }

/*      ALGORITMO           */

#algoritmo{
    margin: 10vh 10vw 0 10vw;

}
    #algoritmo-titulo{
        margin-bottom:40px;
        font-weight: normal;
    }

    #algoritmo-lei-via{
    display: flex;  
    justify-content: space-between;
    align-items: stretch;
    height: 75vh;
    } 
        .legislacao-via{
            display: flex;
            flex-direction: column;
            width: 30vw;
        } 
            .legislacao-via > h1 { /* titulos legislação e viabilidade*/
                font-size: 20px;
                margin-bottom: 30px;
            }
            .lei-via{     /* div sem o titulo*/
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 92%;
                width: 32vw;
            }
            .lei-linhas-left{
                display: flex;
                justify-content: space-between;
            }
                 #lei-down-left{ padding-right: 20px;}
                 #lei-down-left > .lei-via-itens > .lei-via-img{ padding: 10px 0; }
                 .lei-via-img:nth-child(4){padding: 20px 0;}
                 

            .via-linhas-right{
                display: flex;
                justify-content: space-between;
                padding-right: 5vw ;
            }
                .lei-via-itens{
                    display: flex;
                    flex-direction: column;
                    min-width: 128px;
                }
                    .lei-via-img{
                        width: 80px;
                        height: 80px;
                        margin-bottom: 10px;
                    }
                    .lei-via-p{
                        font-size: 14px;
                    }
            .lei-via-btn{
                padding: 5px 45px;
                margin: 10px 10px;
                border: 1px solid #fff;
            }
            .lei-via-btn:hover{
                background: #fff;
            }

    #mais{
        display: flex;
    } 
        #mais > img{
            width: 100px;
        }

    #mobile-algoritmo{
        display: none;
    }

/*      FUNCIONALIDADES     */

#funcionalidades{
    padding-top: 100px;

}
    #func-Titulo{
        text-align: center;
        height: 10vh;
    }
    #divFunc{
        height: 70vh;
    }
    #menuFunc{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10vw;
        height: 110px;
        
    }
        .itensFunc{
            width: 12.5%;
            text-align: center;
            padding: 45px 0;   
            border-radius: 30px 30px 0 0;          
        }
            .itensFunc:nth-child(4){    /* Resolver o alinhamento itens com 2 linhas */
                padding: 33px 0;
            }
            .itensFunc:nth-child(7){    /* Resolver o alinhamento itens com 2 linhas */
                padding: 33px 0;
            }
            .itensFunc-soon{
                color: #646464; 
             }
            .itensFunc:hover{
                background: #D7E2E1;
            }
        #painelFunc{
            background: #D7E2E1;
            height: 50vh;
            
        }
        #mobile-img-soon{
            display: none;
        }

/*      Utilidades       */

#utilidade{
    margin-top: 10vh;
}

    #util-titulo{
        text-align: center;
        font-weight: normal;
        font-size: 30px;
    }
    #utilDiv{
        display: flex;
        justify-content: space-between;
        margin: 80px 0;
    }
        .uteis{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 4vh 0;
            width: 18vw; 
            border: 2px solid #e8e8e8;
            border-radius: 30px;
            
        }
            .uteis:hover > .util-btn{
                visibility: visible;
                
            }
            .uteis > div{
                max-width: 260px;
                display: flex;
                flex-direction: column;
                
            }
            .uteis-img{
                height: 80px;
                width:  80px;
                margin-bottom: 20px;

            }
            .uteis-p{
                max-width: 260px;
                font-family: Aeonik-Regular;
                font-size: 18px;
                font-weight: 400;
            }
            .uteis-p > strong{
                text-decoration: underline;
            }
            .util-btn{
                visibility: hidden;
                display: block;
                margin: 25px auto 0 auto;
                background: black;
                color: #fff;
                padding: 10px 50px;
                font-weight: 500;
                transition: ease-in-out 0.4s;
            }
        #util1{
            width: 28vw ;
            border-radius: 0 30px 30px 0;
            padding-left: 10vw;
        }
        #util4{
            width: 28vw;
            border-radius: 30px 0 0 30px;
        }
            #util4 > p{width: 190px;}

/*      ESCOLHA         */

#escolha{

}
    #escolha-titulo{
        text-align: center;
        font-weight: normal;
        font-size: 30px;
    }
    #escolha-notebook{
        background: center center url('./imagens/07_escolha/mac.svg') no-repeat;
        background-size: 100vh;
        
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        #escolha-video{
            width: 76vh;
            height: 50vh;
        }
    
    #modelo-vigente{
        margin: 0 10vw;
    }
        #imagem-modelo-vigente{
            padding: 210px 40vw;
            background: 49% center url('./imagens/07_escolha/modelo-vigente.svg') no-repeat ;
            background-size: 70%;
        }
        #btn-modelo-vigente{
            display: block;
            margin: 0 auto 50px auto;
            background: black;
            color: #fff;
            padding: 10px 50px;
        }


/*      MAPA        */

#section-mapa{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;

    height: 100vh;
    padding: 0 9vw ;
    color: white;
    background: center center  url('./imagens/08_mapa/mapa.png') no-repeat;
    background-size: 100vw;
}
    #sugerir-cidade{
        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 130px;
    }
        .cidades-disponiveis-p{

        }
    .btn-mapa-generico{
        padding: 8px 45px;
        
    }
        #btn-mapa-sugerir{
            color: #77ACA8;
            border: 1px solid #77ACA8;
            font-size: 18px;
            width: 252px;
        }
    #cidades-disponiveis{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 248px;
        
    }
        #cidades-disponiveis > h5{
            width: 224px;
            font-size: 32px;
            font-weight: 500;
            line-height: 38px;
        }
        .cidades-disponiveis-p{
            font-size: 16px;
            color: #ADADAD;
        }
        #btn-mapa-disponiveis{
            background: #fff;
            border: 1px solid #fff;
        }


/*      APROVAÇÃO       */
#aprovacao{
    margin: 10vh 0;
}
    #aprovacao-titulo{
        text-align: center;
        font-weight: 600;
        font-size: 35px;
    }
    #aprovado-por{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 8vh 15vw;
    }
    #aprovado-por > img{
        height: 40px;
    }
        
/*      PLANOS          */


#plano{
    padding: 10vh 0;

}
    #section-titulo-plano{
        text-align: center;
        font-size: 35px;
        margin: 50px;

    }
    #div-all-planos{
        display: flex;
        align-items: center;
        width: 100vw;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;

        -ms-overflow-style: none; 
        scrollbar-width: none;
    }
        #div-3-planos-free-premium{
            display: flex;
            justify-content: space-between;
        }
            #div-all-planos::-webkit-scrollbar{
                display: none;             /* esconder barra de scroll no Chrome e Safari*/
            }
            
    .class-plano-generico{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        border-radius: 15px;
        width: 20vw;
        min-width: 250px;
        height: 85vh;
        margin: 0 15px;
        padding: 30px 15px;
        text-align: center;
        min-width: 290px;
        scroll-snap-align: center ;
    }
        .class-plano-generico > p{
            font-size: 12px;      
        }
        .beneficios-dos-planos{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            height: 35vh;
            min-width: 258px;
            font-size: 12px;
        }
        .beneficio-inativo-plano{
            color: #ADADAD;
        }
            .beneficio-ativo-plano > img{
                margin: 0 10px;
            }
            .beneficio-inativo-plano > img{
                visibility: hidden;
                margin: 0 10px;
            }
        .beneficios-dos-planos > div > p{
            display: inline-block;
        }
        .linha-planos{
            margin: 15px auto;
            border-top: 1px solid black;
            width: 120px;
        }
            #plano-premium > .linha-planos{ border-color: white;}
            #plano-premium-plus > .linha-planos{ border-color: white;}

            #plano-free{
                border: 1px solid white;
            }
            #plano-estudo-unitario{
                color: #222;
                background: #ececec;
            }
            #plano-premium{
                background: #646464;
                color: #fff;
            }
            #plano-premium-plus{
                background: #222;
                color: #fff;
            }
    .btn-plano{
        background: #77ACA8;
        padding: 7px 20px;
        font-size: 14px;
        cursor: pointer;
    }
    .btn-plano-free{
        background: black;
        color: #fff;
    }
        .btn-plano:hover{
            background: #fff;
            color: black;
            border: 1px solid #222;
            padding: 6px 25px;
        }
    .btn-plano-plus{
        background: #fff;
        color: black;
    }
        .btn-plano-plus:hover{
            background: black;
            color: #fff;
            border: 2px solid #fff;
            padding: 5px 25px;
        }
    #linha-divisoria-planos{
        height: 50vh;
        border-left: 2px solid #222;
    }



/*      NOTICIAS       */
#noticias{
    margin: 0 5vw;
}
    #noticias-titulo{
        text-align: center;
        font-size: 35px;
        margin: 40px auto;
    }
    #media-desktop{
        display: block;
        width: 90vw;
    }
    #media-mobile{
        display: none;
    }
     


/*      TIME        */


#time{
    margin: 20vh 10vw;
}
#time-titulo{
    text-align: center;
    font-size: 40px;
    margin: 40px auto;
    
}
.time-linha{
    display: flex;
    justify-content: space-between;
}
.membro-time{
    margin-bottom: 40px ;
    width: 18%;
    text-align: center;
}
.membro-time > h1{
    font-size: 15px;
    font-weight: 500;
}
.membro-time > p {
    font-size: 12px;
    color: #646464;
}
    .membro-img{
        display: block;
        margin: 10px auto;
        width: 120px;
        border-radius: 50%;
    }
    .img-cargo-superior{
        width: 120px;
        border: 4px solid #fff;
    }
        .membro-time > .email-time{
            color: #ADADAD;
        }

/*      FOOTER - OSPA    */

#footer-ospa{
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 5vh 10vw;

}
#logo-grupo-ospa{
    display: flex;
    align-items: center;
    justify-items: center;
}
#footer-ospa-all-institutos{
    display: flex;
    justify-content: space-between;
    width: 60vw;
}
    .footer-ospa-each-institutos{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 150px;
    }
        .logos-institutos-footer{
            height: 30px; 
            margin-bottom: 5px; 
        }
        .footer-ospa-each-institutos > div {
            margin-left: 5px ;
        }
        .footer-ospa-each-institutos > div > p{
            font-size: 12px;
            height: 56px;
            display: flex;
            align-items: center;
            color: #ADADAD;
            text-align: start;
        }
        #ospa-design-p{
            width: 120px;
        }
        .footer-ospa-each-institutos > a{
            color: #fff;
            border: 1px solid #fff;
            border-radius: 20px;
            padding: 5px 45px;
            font-size: 14px;
            font-weight: 600;
        }
    #footer-instituto-place > a{
        background-color: #fff;
        color: black;
    }

/*      FOOTER PLACE        */
    
#footer-place{
    display: flex;
    justify-content: space-between;
    padding: 8vh 10vw;
}
        #place-by-ospa{
            text-align: center;
            margin-right: 10px;
        }
            #place-by-ospa > p{
                margin: 20px 0 30px 0;
                font-size: 16px;
                width: 200px;
            }
            #btn-by-ospa-footer{
                color: #fff;
                font-size: 16px;
                font-weight: 500;
                background-color: black;
                padding: 10px 30px;

            }

#sobre-comunidade-contato-copyright{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30vw;
    min-width: 445px;
}
    #sobre-comunidade-contato{
        display: flex;
        justify-content: space-between; 
    }
    .sobre-comunidade-contato{
        display: flex;
        flex-direction: column;
        font-size: 12px;
        min-width: 100px;
        
    }
        .sobre-comunidade-contato > h4{
            margin-bottom: 10px;
        }
        .sobre-comunidade-contato > a , .sobre-comunidade-contato > div > a{
            color: #646464;
        }
        .sobre-comunidade-contato > a:hover , .sobre-comunidade-contato > div > a:hover{
        color: #222;
           text-decoration: underline;
        }
            .footer-soon{
                display: flex;
                align-items: center;
            }
    #copyright-cnpj > p{
        display: inline-block;
        font-size: 12px;
    }
    #copyright-cnpj > p:first-child{
        margin-right: 7.5vw;
        
    }
    
#newsletter{
    font-size: 16px;
}
    #newsletter > p{
        color: #646464;
        font-size: 12px;
        padding: 10px 0;
        min-width: 280px;
    }
    #newsletter-email{
        display: flex;
    }
    #newsletter-email > input{
        background-color: #77ACA8;
        font-size: 14px;
        width: 75%;
    }
    #newsletter-email > input::placeholder{
        color: black;
        font-size: 14px;
    }
    #newsletter-email > button{
        background: center center url(./imagens/14-footer-place/seta.svg) no-repeat;
        background-size: 35%;
        min-width: 60px;
        background-color: black;
        box-shadow: none;
    }
    #btn-retorno-topo{
        position: fixed;
        bottom: 10px;
        left: 95vw;
    }
