   /*   Menu Mobile    */


   .mobile-menu {
    display: none;
    cursor: pointer;
}
.mobile-menu div {  /* LINHAS  DO HAMBURGUER*/
    background: black;
    transition: 0.3s ease-out;
}
    .line1{
        width: 15px;
        height: 3px;
        margin: 7px 0 7px 20px;
        
    } 
    .line2{
        width: 30px;
        height: 3px;
        margin: 7px;
    } 
    .line3{
        width: 15px;
        height: 3px;
        margin: 7px;
    }

.nav-list.active {
    transform: translateX(0);
}
@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }	
    to {
        opacity: 1;
        transform: translateX(0);
    }
}	
.mobile-menu.active .line1 {    /*mais px = cima // mais px = direita*/
    transform: rotate(-45deg) translate(-1.3px, 3.5px);	
    width: 13px;
    
}
.mobile-menu.active .line2 {
    transform: rotate(45deg) translate(0px, 0px);
    
    width: 30px;	
}
.mobile-menu.active .line3 {   /*mais px = cima// mais px = direita*/
    transform: rotate(-45deg) translate(4.6px, -1px);		
    width: 13px;
    
}



@media screen and (max-width: 999px) {

    #menu{
        padding: 20px 3vw;
    }

    #acessarPlataforma{
        text-align: center;
        width: 250px;
    }
    
    .nav-list{
    position: absolute;
    top:0px;
    right: 0;
    width: 40vw;
    max-width: 200px;
    height: 60vw;
    max-height: 400px;
    background: #fff;
    border: 2px solid #fff;   
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    }
    .nav-list li{
    opacity: 0;
    }
    .mobile-menu {
    display: block;
    
    
    }
}

@media screen and (max-width: 500px) {

    #acessarPlataforma{
        position: fixed;
        top: auto;
        bottom: 10px;
        left: 1vw;
        width: 95vw;
    }
    /* Estudo Viabilidade*/
    
#div1{
    height: 70vh;

}
    
    #divBtnCidade{
        margin-left: 2vw;
        width: 93vw;
    }
        #input-cidade{
            width: 90vw;
        }
            #input-cidade::placeholder {
                font-weight: 500;
            }
        #btn-cidade{
            background: 30% center url('./imagens/01_viabilidade/btnCidade.svg') no-repeat;
            background-size: 25px;
            background-color: #fff;
            border: none;
            box-shadow: none;
            border-radius:  0 30px 30px 0;
            padding: 20px 40px;
        }
            #btn-cidade:hover{
                background-size: 27px ;
            }

    #powered > img{
        width: 25vw;
    }


    /*   PAP = PROPOSITO - ALGORITIMO - PRODUTO   */

    #PAP{
        display: none;
    }
    #mobile-PAP{
        display: flex;
        flex-direction: column;
        margin: 5vh 5vw;
    }

/*      DADOS        */

#dados{
    flex-direction: column;
    padding: 2vh 0;
    background: #fff;
}
    .dadosItens{
        margin: 3vh auto;
        text-align: center;
    }
    .dadosItens > h1{
        font-size: 30px;
        color: black;
    }
    .dadosItens > p {
        font-size: 14px;
        color: black;
    }

    /*      ALGORITMO           */

#algoritmo{
    margin: 10vh 0 0 0;

}
    #algoritmo-titulo{
        width: 300px;
        font-size: 22px;
        margin-left: 10vw;
    }
        #algoritmo-lei-via{
        display: none; 
        } 
    #mobile-algoritmo{
        display: flex;
        padding: 20px 0;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }
        #mobile-algoritmo > img{
            width: 100vw;
        }

/*      FUNCIONALIDADES     */
#func-Titulo{
    font-size: 22px;
}
    #divFunc{
        height: 70vh;
        display: flex;
        justify-content: flex-start;

    }
    #mobile-img-soon{
        display: flex;
        flex-direction: column;
        width: 10vw;
    }
    #menuFunc{
        flex-direction: column;
        padding: 0 ;
        height: auto;
        
    }
        .itensFunc{
            width: 25vw;
            padding: 20px 0;   
            border-radius: 0;
            font-size: 12px;          
        }
        #painelFunc{
            height: 100%;
            width: 60vw;
            
        }
        /*      Utilidades       */
#utilidade{

}
    #util-titulo{
        text-align: center;
        font-size: 22px;
    }
    #utilDiv{
        display: block;
        margin: 80px 0;
        height: 760px;
    }
        .uteis{
            display: inline-table;
            margin-left: 5vw;
            padding: 4vh 2vw;
            width: 40vw; 
            border: none;
        }
            .uteis-p{
                font-size: 12px;
                display: inline-block;
            }
                #util1 , #util4{
                    width: 40vw ;
                    padding-left: 2vw;
                }
        #util-btn{
            display: none;
        }

/*      ESCOLHA     */

        #modelo-vigente{
            margin: 0vw;
        }
            #imagem-modelo-vigente{
                padding: 40vh 50vw;
                background: center center url('./imagens/mobile/mobile-modelo-vigente.svg') no-repeat ;
                background-size: 100%;
            }
            #btn-modelo-vigente{
                display: none;
            }
/*      APROVAÇÃO       */
#aprovacao{
    margin: 0;
}
    #aprovacao-titulo{
        text-align: center;
        font-weight: 600;
    }
    #aprovado-por{
        margin: 12vh 0 0 0;
        flex-direction: column;
    }
    #aprovado-por > img{
        margin-bottom: 6vh ;
        
    }
    
/*  Planos   */

#plano{
padding: 2vh 0  10vh 0;
}
    
#all-planos{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 0 10vw;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    -ms-overflow-style: none; /* esconder barra de scroll no IE 10*/
    scrollbar-width: none;    /* esconder barra de scroll no Firefox*/
    
}
.planos-free-plus{
    flex: none;
    width: 60vw;
    margin: 0 3vw;
    padding: 10px;

    scroll-snap-align: center ;
    pointer-events: none;
    
}
#planos-f-p{
    width: auto;
}
        #all-planos::-webkit-scrollbar{
            display: none;             /* esconder barra de scroll no Chrome e Safari*/
        }


 /*      NOTICIAS       */

#media-desktop{
    display: none;
}
#media-mobile{
    display: block;
    width: 70vw;
    margin: 0 auto;
}

 
 

/*      TIME        */


#time{
    margin: 20vh 10vw;
    display: flex;
    flex-direction: column;
}
#time-titulo{
    text-align: center;
    font-size: 32px;
    margin: 40px auto;
    
}
.time-linha{
    display: inline-table;
}
.membro-time{
    display: inline-block;
    width: 35vw;
}

    
}