   /*   Menu Mobile    */


   .mobile-menu {
    display: none;
    cursor: pointer;
}
.mobile-menu div {  /* LINHAS  DO HAMBURGUER*/
    background: black;
    transition: 0.3s ease-out;
}
    .line1{
        width: 15px;
        height: 3px;
        margin: 7px 0 7px 20px;
        
    } 
    .line2{
        width: 30px;
        height: 3px;
        margin: 7px;
    } 
    .line3{
        width: 15px;
        height: 3px;
        margin: 7px;
    }

.nav-list.active {
    transform: translateX(0);
}
@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }	
    to {
        opacity: 1;
        transform: translateX(0);
    }
}	
.mobile-menu.active .line1 {    /*mais px = cima // mais px = direita*/
    transform: rotate(-45deg) translate(-1.3px, 3.5px);	
    width: 13px;
    
}
.mobile-menu.active .line2 {
    transform: rotate(45deg) translate(0px, 0px);
    
    width: 30px;	
}
.mobile-menu.active .line3 {   /*mais px = cima// mais px = direita*/
    transform: rotate(-45deg) translate(4.6px, -1px);		
    width: 13px;
    
}

@media screen and (min-width: 1150px) {
    #div-all-planos{
        justify-content: space-evenly;
    }
}


@media screen and (max-width: 999px) {
    header{
        background: 65% 0% url(./imagens/mobile/secao1-background.svg) no-repeat;     
        background-size: 1050px;
    }
    #menu{
        padding: 20px 3vw;
    }

    #acessarPlataforma{
        text-align: center;
        width: 250px;
    }
    
    .nav-list{
    position: absolute;
    top:0px;
    right: 0;
    width: 40vw;
    max-width: 200px;
    height: 60vw;
    max-height: 400px;
    background: #fff;
    border: 2px solid #fff;   
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    }
    .nav-list li{
    opacity: 0;
    }
    .mobile-menu {
    display: block;
    
    
    }
}

@media screen and (max-width: 650px) {

    #acessarPlataforma{
        position: fixed;
        top: auto;
        bottom: 10px;
        left: 1vw;
        width: 98vw;
        border: 2px solid #FFF;
    }
    /* Estudo Viabilidade*/
 
#div1{
    height: 80vh;
}
#divTexto{
    margin-left: 5vw;
    font-size: 14px;
}
    
    #divBtnCidade{
        margin-left: 3vw;
        width: 95vw;
        margin: 5vh auto;
    }
        #input-cidade{
            width: 75vw;
            padding: 12px 10px 12px 25px;
        }
            #input-cidade::placeholder {
                font-weight: 500;  
            }
        #btn-cidade{
            background: 30% center url('./imagens/01_viabilidade/btnCidade.svg') no-repeat;
            background-size: 25px;
            background-color: #fff;
            border: none;
            box-shadow: none;
            border-radius:  0 30px 30px 0;
            padding: 20px 10vw;
        }

    #powered > img{
        width: 25vw;
    }


    /*   PAP = PROPOSITO - ALGORITIMO - PRODUTO   */

    #PAP{
        display: none;
    }
    #mobile-PAP{
        display: flex;
        flex-direction: column;
        margin: 2vh 5vw 15vh 5vw;
    }

/*      DADOS        */

#dados{
    flex-direction: column;
    padding: 2vh 0;
    background: #fff;
}
    .dadosItens{
        margin: 3vh auto;
        text-align: center;
    }
    .dadosItens > h1{
        font-size: 30px;
        color: black;
    }
    .dadosItens > p {
        font-size: 14px;
        color: black;
    }

    /*      ALGORITMO           */

#algoritmo{
    margin: 10vh 0 0 0;

}
    #algoritmo-titulo{
        width: 300px;
        font-size: 22px;
        margin-left: 10vw;
    }
        #algoritmo-lei-via{
        display: none; 
        } 
    #mobile-algoritmo{
        display: flex;
        padding: 50px 0;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }
        #mobile-algoritmo > img{
            width: 100vw;
        }

/*      FUNCIONALIDADES     */
#funcionalidades{
    padding-top: 50px;
}
#func-Titulo{
    font-size: 22px;
    
}
    #divFunc{
        height: 60vh;
        display: flex;
        justify-content: flex-start;

    }
    #mobile-img-soon{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
    }
        #img-func-disponivel{
            height: 250px;
        }
        #img-func-soon{
            height: 120px;
            margin-bottom: 10px;
        }

    #menuFunc{
        flex-direction: column;
        padding: 20px 0;
        
        height: auto;
        
    }
        .itensFunc{
            width: 100px;
            padding: 5px 0;   
            border-radius: 0;
            font-size: 12px;          
        }
            .itensFunc:nth-child(4){    /* Resolver o alinhamento itens com 2 linhas */
                padding: 8px 0;
            }
            .itensFunc:nth-child(7){    /* Resolver o alinhamento itens com 2 linhas */
                padding: 10px 0;
                margin-top: 50px;
            }
        #painelFunc{
            height: 100%;
            width: 100%;
            border-radius: 20px 0 0 20px;
        }
        /*      Utilidades       */

    #util-titulo{
        text-align: center;
        font-size: 22px;
    }
    #utilDiv{
        display: flexbox;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 10vh 5vw 20vh 5vw;
        
    }
        .uteis{
            display: inline-table;
            margin-left: 2vw;
            padding: 0;
            width: 159px;
            border: none;
            pointer-events: none;
        }
            .uteis-p{
                font-size: 12px;
                display: inline-block;
            }
                #util1 , #util4{
                    width: 160px;
                    padding-left: 0;
                }
                
        .util-btn{
            display: none;
        }

/*      ESCOLHA     */
#escolha-titulo{
    font-size: 20px;
}
#escolha-notebook{
    background: center 54% url('./imagens/07_escolha/mac.svg') no-repeat;
    background-size: 80vw;
    height: 40vh;
}
    #escolha-video{
        width: 61vw;
        height: 40vw;  
    }

    #modelo-vigente{ margin: 0; }

        #imagem-modelo-vigente{ /* apartir de uma tela de  480 px, corta a imagem*/
            padding: 60vw 50vw;
            background: center center url('./imagens/mobile/mobile-modelo-vigente.svg') no-repeat ;
            background-size: 100%;
        }
        #btn-modelo-vigente{
            display: none;
        }

 /*      MAPA        */

#mapa{
    background: 70% center  url('./imagens/08_mapa/mapa.png') no-repeat;
    background-size: cover;
    height: 80vw;
    margin: 10vh 0;

}


/*      APROVAÇÃO       */


#aprovacao{
    margin: 0;
}
    #aprovacao-titulo{
        text-align: center;
        font-weight: 600;
    }
    #aprovado-por{
        margin: 12vh 0 0 0;
        flex-direction: column;
    }
    #aprovado-por > img{
        margin-bottom: 6vh ;
        width: 30vw;
    }
    
/*  Planos   */

#plano{
padding: 2vh 0  10vh 0;
}
    
#div-all-planos{
    display: flex;
    justify-content: space-between; 
    padding: 0 10vw;
}
.class-plano-generico{
    flex: none;
    width: 60vw;
    margin: 0 3vw;
    padding: 10px; 
}
#div-3-planos-free-premium{
    width: auto;
}
       


 /*      NOTICIAS       */

#media-desktop{
    display: none;
}
#media-mobile{
    display: block;
    width: 70vw;
    margin: 0 auto;
}

 
 

/*      TIME        */


#time{
    margin: 20vh 5vw;
    display: flex;
    flex-direction: column;
}
#time-titulo{
    text-align: center;
    font-size: 32px;
    margin: 40px auto;
    
}
.time-linha{
    display: inline-table;
    
}
.membro-time{
    display: inline-flex;
    flex-direction: column;
    width: 45vw;
}
        .membro-img{ width: 80px; }
        .img-cargo-superior{ width: 84px; }

/* FOOTER   */

footer{
    display: flex;
    flex-direction: column-reverse;
}


/*      FOOTER PLACE        */

#footer-place{
    flex-direction: column;
    justify-content: flex-start;
    padding: 8vh 0 8vh 10vw;
    background: #FFF;
}
    #place-by-ospa{ text-align: left; }

            #place-by-ospa > a{ display: none; }

    #sobre-comunidade-contato-copyright{width: auto;}

            #sobre-comunidade-contato{ display: inline-block; }

                .sobre-comunidade-contato{ margin-bottom: 5vh; }
                
                #sobre-comunidade-contato > .scc-menor-mobile{
                        display: inline-flex;
                        width: 35vw ;
                    }

            #copyright-cnpj{ position: relative; }

                #copyright-cnpj > p{ 
                    position: absolute;
                    bottom: -185px;
                    left: 35vw;
                }

            #copyright-cnpj > p:first-child{ left: 1vw; }

    #newsletter{ font-size: 15px; }

    
        
    
    
    
    /*      FOOTER - OSPA    */
    
    
    #footer-ospa{
        padding: 15vh 10vw;
        flex-direction: column;
    }
    #logo-grupo-ospa{
        margin-bottom: 15vh;
        display: flex;  
        justify-content: space-between;
    }
    #footer-ospa-all-institutos{
        width: 80vw;
        flex-direction: column;
    }
        .footer-ospa-each-institutos{
            justify-content: space-between;
            flex-direction: row;
            align-items: flex-start;
            height: 100px;
            width: 80vw;
            
        }
            .logos-intitutos-footer{
                height: 30px;
                margin-bottom: 10px;
            }
           
            #btn-retorno-topo{
                position: static;
                
            }








}